In [15]:
import pandas as pd
import mysql.connector

In [11]:
#Creating connection
connection = mysql.connector.connect(host = 'localhost', password = '@Mandeep1712', user = 'root', database = 'codewithmandeep')

#Create cursor to interact with the sql
cursor = connection.cursor()

table_name = 'codewithmandeep.employee'

sql_query = f"Select * from {table_name}"

#Executing cursor

print('Connection with SQL:', connection.is_connected())
cursor.execute(sql_query)

rows = cursor.fetchall()

Connection with SQL: True

In [13]:
#Closing connection and cursor
connection.close()
cursor.close()

True

In [17]:
df_data = pd.DataFrame(rows, )
df_data

      0                1                                        2      3
0     1     Ethan Miller        Finance and Accounting Department   TRUE
1     2     Olivia Davis        Research and Development Division   TRUE
2     3  Mason Rodriguez        Research and Development Division   TRUE
3     4     Ava Thompson        Research and Development Division   TRUE
4     5   Liam Hernandez               Human Resources Department   TRUE
..  ...              ...                                      ...    ...
95   96      Lily Turner              Customer Service Department   TRUE
96   97    Samuel Harris        Finance and Accounting Department  FALSE
97   98    Zoey Robinson              Customer Service Department   TRUE
98   99      Henry Young        Finance and Accounting Department   TRUE
99  100      Chloe Davis  Marketing and Communications Department   TRUE

[100 rows x 4 columns]